.column {
  padding: 3.5em 2.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  background-color: var(--default-clr);
}

.column h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.625em;
  margin: 0.5em 0;
}

@media screen and (min-width: 1024px) {
  .column h2 {
    margin: 0.8em 0;
  }

  .column:first-child {
    border-radius: 0.625em 0 0 0.625em;
  }

  .column:last-child {
    border-radius: 0 0.625em 0.625em 0;
  }
}
