*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s;
}

body {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */

  min-width: 320px;
  min-height: 100vh;

  color: var(--very-light-gray);
  background-color: var(--transparent-white);

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lexend Deca', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;

  max-width: 1280px;
  min-height: inherit;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 1.25em;
}

main {
  grid-column: span 16;
  padding: 4.5em 1.5em;
}

@media screen and (min-width: 1024px) {
  #root {
    place-items: center;
  }

  main {
    grid-column: 3 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  main > * {
    grid-column: span 4;
  }
}
